<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/project_form.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/project_page.css">
    <link rel="stylesheet" href="/css/issue_form.css">
    <link rel="stylesheet" href="/css/issues.css">
    <link rel="stylesheet" href="/css/project_issues.css">

</head>
<body>
  
     <%- include('_header'); %>

        <div id="main-container">
            <%- body %> 
        </div>

     <%- include('_footer'); %>


     <script src="/js/filterissues.js"></script>
     <script src="/js/searchIssue.js"></script>
  
</body>
</html>