body {
    margin: 0;
    padding: 0;
    background: lightgray;
    min-height: 100vh;
    display: grid;
    position: -webkit-sticky;
    grid-template-rows: 1fr auto;
}

#main-container {
    width: 100%;
    height: 100%;
}