#project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 8px 5px black;
    width: 50%;
}

#project-container a {
    text-decoration: none;
    font-size: 20px;
    background: green;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}
#project-container a:hover {
    box-shadow: 2px 2px 2px 2px black;
}